.forecast-form {
  margin-bottom: 2rem;
}

.weather {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin-inline-end: 2rem;
    }
  }

  .current {
    display: flex;
    .weather-icon {
      width: 80px;
    }
  }

  .weather-icon {
    padding: 1rem;
    border-radius: 4px;
    background-color: #ccc;
    aspect-ratio: 4/3
  }

  .hourly-forecast-item {
    height: 100%;
  }
}
